/* 
    Document   : styles
    Created on : Apr 21, 2013, 5:40:19 PM
    Author     : tyler
    Description:
        Purpose of the stylesheet follows.
*/

/* The main body */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
h3 { font-size: 17px; padding: 0 0 10px 0; }

/* The map */

#map_canvas {
    height: 100% 
}

/* The marker on the map */

#marker {
    font-family:"Verdana", Sans-serif;
}

/* The NewPointe logo */

#logo {
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px;        /*  position will be on bottom-  */  
    left:0px;          /*    left corner of the page    */ 
}

/* The Comunity Impact Day logo */

#cidlogo{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px;        /*  position will be on bottom-   */  
    right:0px;         /*    right corner of the page    */ 
}  


/* The drawer for the filters   *WIP  */

#drawercontainer{
    opacity: 0.8;
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
    height: 70px;
    transition-property: top,opaacity;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}
#drawer{
    box-shadow: 3px 3px 1px #888888;
    width: 500px;
    height: 50px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e5e5;
    border-bottom: 1px silver solid;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
#drawerbtn{
    box-shadow: 3px 3px 1px #888888;
    text-align: center;
    width: 100px;
    height: 20px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e5e5;
    border-bottom: 1px silver solid;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
}